<%= form.input :title, placeholder: 'Post Title' %>
<%= form.input :body, label: 'Body' %>
<%= form.input :datetime, label: 'Date/Time' %>
<div class="input-append date datepicker" id="dp1" data-date="08-01-2013" data-date-format="mm-dd-yyyy">
  <input class="span2" size="16" type="text" value="08-01-2013">
  <span class="add-on"><i class="icon-th"></i></span>
</div>